<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/headerFragment.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fragments/carFragment.css">
    <link rel="stylesheet" href="/css/fragments/redirectBtnSmallFragment.css">
</head>
<body>
<div th:replace="~{fragments/headerFragment :: header(${headerButtons})}"></div>
<div class="container">
    <span>Dashboard</span>
</div>
</body>
</html>