<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/headerFragment.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fragments/redirectBtnSmallFragment.css">
    <link rel="stylesheet" href="/css/stockFunctionsAndView.css">
    <link rel="stylesheet" href="/css/fragments/formGroupFragments.css">
</head>
<body>
<div th:replace="~{fragments/headerFragment :: header(${headerButtons})}"></div>
<div class="stock-functions container">
    <div class="stock-functions-card total-car-price">
        <span th:text="'Total pris for alle udlejede biler: ' + ${totalCarPrice} + 'kr.'"></span>
    </div>
    <div class="stock-functions-card stock-functions-minimum-car-stock">
        <form th:if="${showForm}" th:action="@{/car/set-limit}" method="post"
              class="stock-functions-minimum-car-stock-form card">
            <div class="form-header">
                <h2 class="form-title">Tilføj minimums grænse for biler</h2>
                <div th:replace="~{fragments/logoButtonFragment :: logo-button('close',@{/stockFunctionsAndView(showSearchFilter=${!showForm})},40,'form-close-button')}"></div>
            </div>
            <div th:replace="~{fragments/formGroupFragments :: select-input('carModelId','Bil model', 'car-model-select', false, false, ${carModelsSelectOptions})}"></div>
            <div th:replace="~{fragments/formGroupFragments :: input-field('number', 'minLimit', 'Minimums grænse', 'limit-input', false)}"></div>
            <div class="form-group form-group__submit-button">
                <button type="submit" class="button stock-functions-minimum-car-stock-button">Opret grænse</button>
            </div>
        </form>

        <div th:if="${!showForm}" class="stock-functions-minimum-car-stock-header">
            <h2 class="form-title">Minimums grænse for biler</h2>
            <div class="show-form-button">
                <div th:replace="~{fragments/logoButtonFragment :: logo-button('square-add',@{/stockFunctionsAndView(showForm=${!showForm})},20,'show-form-button')}"></div>
            </div>
        </div>
        <div th:if="${!showForm}" class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Bil model</th>
                    <th>Tilgængelige biler</th>
                    <th>Minimums grænse</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="carModelLimit : ${carModelLimits}" th:classappend="${carModelLimit.availableCars < carModelLimit.minLimit ? 'table-row--red' : ''}">
                    <td th:text="${carModelLimit.carModel.brand + ' ' + carModelLimit.carModel.model}"></td>
                    <td th:text="${carModelLimit.availableCars}"></td>
                    <td th:text="${carModelLimit.minLimit}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="stock-functions-card stock-functions-monthly-earnings">
        <h2 class="form-title">Månedlige indtægter fra lejekontrakter</h2>
        <div class="chart">
            <div class="chart-column"
                 th:each="entry : ${monthToTotalPriceMap}"
                 th:style="'height: ' + (${entry.value} / ${maxTotalPrice}) * 100 + '%;'">
                <span th:text="${entry.key}"></span>
                <span th:text="${entry.value} + ' kr'"></span>
            </div>
        </div>

    </div>
    <div class="stock-functions-card stock-functions-damage-report"></div>
</div>
</body>
</html>