<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createDamageReport.css">
    <link rel="stylesheet" href="/css/fragments/redirectBtnSmallFragment.css">
    <link rel="stylesheet" href="/css/fragments/carFragment.css">
    <link rel="stylesheet" href="/css/fragments/headerFragment.css">
</head>
<body>
<div th:replace="~{fragments/headerFragment.html :: header(${headerButtons})}"></div>
<div class="container">
    <div th:replace="fragments/redirectBtnSmallFragment :: redirectBtnSmallFragment('Opret Skaderapport', '/createDamageReport')"></div>
    <form action="/createDamageReport" method="post">
            <h2>Opret Skaderapport</h2>
            <label>Vælg Bil:</label>
            <div class="damage-report__form-group">
                <label>
                    <input th:if="${car != null}" type="text" name="carId" class="hidden" th:value="${car.id}"/>
                </label>
                <div class="damage-report__form-group__overlay"
                     th:classappend="${car == null ? 'damage-report--form-group--overlay--show' : ''}">
                    <a class="button" th:href="@{/car/search(missingDamageReport=true)}" th:if="${car == null}">Søg efter bil</a>
                    <div th:if="${car != null}">
                        <div th:replace="~{fragments/logoButtonFragment :: logo-button('close',@{/createDamageReport(removeCar=true)}, 30, 'damage-report--form-group--overlay--remove')}"></div>
                    </div>
                </div>
                <div th:replace="~{fragments/carFragment :: car-display-card(${car}, 'damage-report-form-group-car', false, false)}"></div>
            </div>
            <label for="creationDate">Oprettelsesdato:</label>
            <input type="date" name="creationDate" id="creationDate" required>

            <div id="damageSpecificationSection">
                <div>
                    <h3>Karosseriskader</h3>
                    <label for="damageDescription">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription" value="-" required>
                    <label id="damagePricesLabel" for="damagePrice">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice" value="0" required>
                </div>
                <div>
                    <h3>Glas-og lygteskader</h3>
                    <label for="damageDescription1">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription1" value="-" required>
                    <label for="damagePrice1">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice1" value="0" required>
                </div>
                <div>
                    <h3>Hjul- og dækskader</h3>
                    <label for="damageDescription2">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription2" value="-" required>
                    <label for="damagePrice2">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice2" value="0" required>
                </div>
                <div>
                    <h3>Interiørskader</h3>
                    <label for="damageDescription3">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription3" value="-" required>
                    <label for="damagePrice3">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice3" value="0" required>
                </div>
                <div>
                    <h3>Mekaniske og tekniske skader</h3>
                    <label for="damageDescription4">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription4" value="-" required>
                    <label for="damagePrice4">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice4" value="0" required>
                </div>
                <div>
                    <h3>Andet</h3>
                    <label for="damageDescription5">Skadebeskrivelse:</label>
                    <input type="text" name="damageDescriptions[]" id="damageDescription5" value="-" required>
                    <label for="damagePrice5">Skadepris:</label>
                    <input type="number" name="damagePrices[]" id="damagePrice5" value="0" required>
                </div>
            </div>

                <button type="submit">Opret</button>

        </form>
    </div>
</body>
</html>