.headerbox {
    background-color: rgb(186, 199, 208);
    width: 100%;
    height: 170px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.header-logo-left {
    display: flex;
    align-items: center;
}

.header-logo-right {
    height: 70px;
    width: auto;
}

.headerImages {
    height: 70px;
    width: auto;
}
.header-buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.headerButton {
    border-radius: 3px;
}
.headerButtonText {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 25px;
}
.headerButton:hover {
    transform: scale(1.05);
    background-color: rgb(166, 176, 185);
}