.headerRedirectBtnFragment {
    border: none;
    height: 25px;
    width: 200px;
    text-align: center;
    justify-content: center;
    display: inline-block;
}
.headerRedirectBtnText{
    font-family: "Montserrat" , sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: rgba(162, 183, 201, 0);
}