<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Agreement</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createRentalAgreement.css">
    <link rel="stylesheet" href="/css/fragments/formGroupFragments.css">
    <link rel="stylesheet" href="/css/fragments/returnButtonFragment.css">
    <link rel="stylesheet" href="/css/fragments/logoButtonFragment.css">
    <link rel="stylesheet" href="/css/fragments/carFragment.css">
    <link rel="stylesheet" href="/css/fragments/renterFragment.css">
    <link rel="stylesheet" href="/css/fragments/subscriptionFragment.css">
    <link rel="stylesheet" href="/css/fragments/headerFragment.css">
</head>
<body>
<div th:replace="~{fragments/headerFragment.html :: header(${headerButtons})}"></div>
<div class="rental-agreement-container container">
    <div class="rental-agreement__title-container">
        <h1 class="rental-agreement__title">Opret lejekontrakt</h1>
        <div th:replace="~{fragments/returnButtonFragment :: return-button}"></div>
    </div>
    <form class="rental-agreement__form" th:action="@{/rental-agreement/create}" th:method="post">
        <div class="rental-agreement__form-group">
            <label>
                <input th:if="${car != null}" type="text" name="carId" class="hidden" th:value="${car.id}"/>
            </label>
            <div class="rental-agreement__form-group__overlay"
                 th:classappend="${car == null ? 'rental-agreement--form-group--overlay--show' : ''}">
                <a class="button" th:href="@{/car/search(Status='Klar til udlejning')}" th:if="${car == null}">Søg efter bil</a>
                <div th:if="${car != null}">
                    <div th:replace="~{fragments/logoButtonFragment :: logo-button('close',@{/rental-agreement/new(removeCar=true)}, 30, 'rental-agreement--form-group--overlay--remove')}"></div>
                </div>
            </div>
            <div th:replace="~{fragments/carFragment :: car-display-card(${car}, 'rental-agreement-form-group-car', false, false)}"></div>
        </div>

        <div class="rental-agreement__form-group">
            <label>
                <input th:if="${subscription != null}" type="text" name="renterId" class="hidden"
                       th:value="${renter.id}"/>
            </label>
            <div class="rental-agreement__form-group__overlay"
                 th:classappend="${renter == null ? 'rental-agreement--form-group--overlay--show' : ''}">
                <a class="button" th:href="@{/renter/search}" th:if="${renter == null}">Søg efter lejer</a>
                <div th:if="${renter != null}">
                    <div th:replace="~{fragments/logoButtonFragment :: logo-button('close',@{/rental-agreement/new(removeRenter=true)}, 30, 'rental-agreement--form-group--overlay--remove')}"></div>
                </div>
            </div>
            <div th:replace="~{fragments/renterFragment :: renter-display-card(${renter}, 'rental-agreement-form-group-subscription', false, false)}"></div>
        </div>

        <div class="rental-agreement__form-group">
            <label>
                <input th:if="${subscription != null}" type="text" name="subscriptionId" class="hidden"
                       th:value="${subscription.id}"/>
            </label>
            <div class="rental-agreement__form-group__overlay"
                 th:classappend="${subscription == null ? 'rental-agreement--form-group--overlay--show' : ''}">
                <a class="button" th:href="@{/subscription/new}" th:if="${subscription == null}">Opret abonnement</a>
                <div th:if="${subscription != null}">
                    <div th:replace="~{fragments/logoButtonFragment :: logo-button('close',@{/rental-agreement/new(removeSubscription=true)}, 30, 'rental-agreement--form-group--overlay--remove')}"></div>
                </div>
            </div>
            <div th:replace="~{fragments/subscriptionFragment :: subscription-display-card(${subscription}, 'rental-agreement-form-group-subscription', false)}"></div>
        </div>

        <div class="rental-agreement__form-group__pickup-location-container">
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'pickupLocationAddress', 'Opsamling adresse', 'rental-agreement__form-group__pickup-location-address-input form-group-input', true)}"></div>
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'pickupLocationZipcode', 'Opsamling postnummer', 'rental-agreement__form-group__pickup-location-zipcode-input form-group-input', true)}"></div>
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'pickupLocationCity', 'Opsamling By', 'rental-agreement__form-group__pickup-location-zipcode-input form-group-input', true)}"></div>
        </div>
        <div class="rental-agreement__form-group__return-location-container">
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'returnLocationAddress', 'Aflevering adresse', 'rental-agreement__form-group__return-location-address-input form-group-input', true)}"></div>
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'returnLocationZipcode', 'Aflevering postnummer', 'rental-agreement__form-group__return-location-zipcode-input form-group-input', true)}"></div>
            <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'returnLocationCity', 'Aflevering By', 'rental-agreement__form-group__return-location-zipcode-input form-group-input', true)}"></div>
        </div>
        <div th:replace="~{fragments/formGroupFragments :: input-field('date', 'startDate','Start date', 'rental-agreement__form-group__start-date-input form-group-input', true)}"></div>

        <div th:replace="~{fragments/formGroupFragments :: input-field('date', 'endDate' ,'End date', 'rental-agreement__form-group__end-date-input form-group-input', true)}"></div>

        <div class="form-group__submit-button">
            <button type="submit" class="button rental-agreement__button">Opret</button>
        </div>
    </form>
</div>
</body>
</html>
