<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret Slutopgørelse</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createFinalSettlement.css">
    <link rel="stylesheet" href="/css/fragments/formGroupFragments.css">
    <link rel="stylesheet" href="/css/fragments/returnButtonFragment.css">
    <link rel="stylesheet" href="/css/fragments/popupMessageFragment.css">
    <link rel="stylesheet" href="/css/fragments/headerFragment.css">
</head>
<body>
<div th:replace="~{fragments/headerFragment.html :: header(${headerButtons})}"></div>
<div class="container">
    <div th:replace="~{fragments/returnButtonFragment :: return-button}"></div>
    <h1 class="final-settlement__title">Opret Slutopgørelse</h1>
    <form class="final-settlement__form" th:action="@{/final-settlement/create}" th:method="post">
        <div th:replace="~{fragments/formGroupFragments :: input-field('text', 'rentalAgreementId', 'Lejeaftale ID: ', 'final-settlement__form-group__rental-agreement-input form-group-input', true)}"></div>

        <div th:replace="~{fragments/formGroupFragments :: input-field('number', 'kilometersDriven', 'Antal kørte kilometer: ', 'final-settlement__form-group__kilometers-input form-group-input', true)}"></div>

        <div class="final-settlement__submit-button">
            <button type="submit" class="button rental-agreement__button">Opret</button>
        </div>
    </form>
    <div th:replace="~{fragments/messagePopup :: popup-message(${type}, ${message}, ${redirect}, ${redirectText})}"></div>
</div>
</body>
</html>
