<div th:fragment="damage-report-display-card(damageReport, customCssClass, showActions)"
     class="damage-report-display-card"
     th:classappend="${customCssClass}">

    <!-- hvis objektet man sender er tilgængelig, bliver objektet vist -->
    <div th:if="${damageReport != null}">
        <div th:replace="~{fragments/damageReportFragment :: damage-report-display-card-inner(${damageReport}, ${showActions})}"></div>

    </div>

    <!-- hvis objektet man sender ikke er tilgængelig, bliver vist en placeholder - dette er stylet i CSS -->
    <div th:if="${damageReport == null}">
        <div th:else class="damage-report-display-card__inner card damage-report-display-card__inner--placeholder">
            <div class="damage-report-display-card__image-section damage-report-display-card__image-section--placeholder">
                <div class="damage-report-display-card__image-placeholder"></div>
            </div>
            <div class="damage-report-display-card__details">
                <div class="damage-report-display-card__details-section">
                    <div class="damage-report-display-card__details-column">
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--large"></div>
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--small"></div>
                    </div>
                    <div class="damage-report-display-card__details-column">
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--large"></div>
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--small"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hvis objektet man sender er tilgængelig, bliver objektet vist -->
<div th:fragment="damage-report-display-card-inner(damageReport, showActions)">
    <div class="damage-report-display-card__inner card">
        <!-- Details Section -->
        <div class="damage-report-display-card__details">
            <!-- General Details -->
            <div class="damage-report-display-card__details-section">
                <div class="damage-report-display-card__details-column">
                    <div class="damage-report-display-card__detail-container">
                        <h3>ID: </h3>
                        <h3 class="damage-report-display-card__detail damage-report-display-card__detail--id"
                            th:text="${damageReport.id}"></h3>
                    </div>
                    <div class="damage-report-display-card__detail-container">
                        <span>Dato for oprettelse: </span>
                         <span class="damage-report-display-card__detail damage-report-display-card__detail--kilometer-option"
                               th:text="${damageReport.creationDate}">creationDate</span>
                    </div>
                    <div class="damage-report-display-card__detail-container">
                        <span>Samlet skadepris: </span>
                        <span class="damage-report-display-card__detail damage-report-display-card__detail--addons"
                              th:text="${damageReport.totalDamagePrice}">Total damage price </span>
                    </div>
                </div>
                <div class="damage-report-display-card__details-column">
                    <div class="damage-report-display-card__detail-container">
                        <div th:replace="~{fragments/logoFragment :: logo('car',20)}"></div>
                        <span class="damage-report-display-card__detail damage-report-display-card__detail--BrandAndModel"
                              th:text="${damageReport.car.brand} + ' ' + ${damageReport.car.model}"></span>
                    </div>
                    <div class="damage-report-display-card__detail-container">
                        <div th:replace="~{fragments/logoFragment :: logo('licensePlate',20)}"></div>
                        <span class="damage-report-display-card__detail damage-report-display-card__detail--vehicle-number"
                              th:text="${damageReport.car.vehicleNumber}"></span>
                    </div>
                    <div class="damage-report-display-card__detail-container">
                        <div th:replace="~{fragments/logoFragment :: logo('status',20)}"></div>
                        <span class="damage-report-display-card__detail damage-report-display__detail--car-status"
                              th:text="${damageReport.car.status}"></span>
                    </div>
                </div>
            </div>
            <div class="damage-report-display-card__details-section damage-report-display-card__details-section--actions">
                <div class="damage-report-display-card__actions">
                    <div th:if="${showActions}">

                            <span class="damage-report-display-card__detail damage-report-display-card__detail--type"
                                  th:replace="~{fragments/logoButtonFragment :: logo-button('eye', @{/viewDamageReport(damageReportId=${damageReport.id})}, '40px', 'damage-report-display-card__actions-view-button')}"></span>

                        <span class="damage-report-display-card__detail damage-report-display-card__detail--type"
                              th:replace="~{fragments/logoButtonFragment :: logo-button('edit', @{/updateDamageReport(damageReportId=${damageReport.id})}, '40px', 'damage-report-display-card__actions-edit-button')}"></span>

                        <span class="damage-report-display-card__detail damage-report-display-card__detail--type"
                              th:replace="~{fragments/logoButtonFragment :: logo-button('delete', @{/deleteDamageReport(damageReportId=${damageReport.id})}, '40px', 'damage-report-display-card__actions-edit-button')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>