<div th:fragment="damage-report-display-card(damageReport, customCssClass, showActions)"
     class="damage-report-display-card"
     th:classappend="${customCssClass}">

    <!-- hvis objektet man sender er tilgængelig, bliver objektet vist -->
    <div th:if="${damageReport != null}">
        <div th:replace="~{fragments/damageReportFragment :: damage-report-display-card-inner(${damageReport}, ${showActions})}"></div>

        <!-- hvis man skal kunne vælge objektet, skal dette fragment inkluderes


         -->

    </div>

    <!-- hvis objektet man sender ikke er tilgængelig, bliver vist en placeholder - dette er stylet i CSS -->
    <div th:if="${damageReport == null}">
        <div th:else class="damage-report-display-card__inner card damage-report-display-card__inner--placeholder">
            <div class="damage-report-display-card__image-section damage-report-display-card__image-section--placeholder">
                <div class="damage-report-display-card__image-placeholder"></div>
            </div>

            <div class="damage-report-display-card__details">
                <div class="damage-report-display-card__details-section">
                    <div class="damage-report-display-card__details-column">
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--large"></div>
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--small"></div>
                    </div>
                    <div class="damage-report-display-card__details-column">
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--large"></div>
                        <div class="damage-report-display-card__detail-placeholder damage-report-display-card__detail-placeholder--small"></div>
                    </div>
                </div>
                <div class="damage-report-display-card__details-section damage-report-display-card__details-section--actions">
                    <div class="damage-report-display-card__actions">
                        <div th:if="${showActions}"
                             th:replace="~{fragments/logoButtonFragment :: logo-button('square-add', @{/damage-report/new}, '1.5rem','rental-agreement-form-group-damage-report-search-button')}"></div>
                    </div>
                    <div class="damage-report-display-card__details-column">
                        <div class="damage-report-display-card__detail-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hvis objektet man sender er tilgængelig, bliver objektet vist -->
<div th:fragment="damage-report-display-card-inner(damageReport, showActions)">
    <div class="damage-report-display-card__inner card">
        <!-- Details Section -->
        <div class="damage-report-display-card__details">
            <!-- General Details -->
            <div class="damage-report-display-card__details-section">
                <div class="damage-report-display-card__details-column">
                    <div class="damage-report-display-card__detail-container">
                       <span class="damage-report-display-card__detail damage-report-display-card__detail--base-price"
                             th:text="${damageReport.car.vehicleNumber} + '' ">vehicle number</span>

                    </div>
                    <div class="damage-report-display-card__detail-container">
                         <span class="damage-report-display-card__detail damage-report-display-card__detail--kilometer-option"

                               th:text="'Dato for oprettelse ' + ${(damageReport.creationDate)} + ''">creationDate</span>

                    </div>
                </div>
                <div class="damage-report-display-card__details-column">
                    <div class="damage-report-display-card__detail-container">
                        <span class="damage-report-display-card__detail damage-report-display-card__detail--type"
                              th:text="${(damageReport.damageSpecifications != null && !damageReport.damageSpecifications.isEmpty()) ? damageReport.damageSpecifications.size() + ' Skadespecifikationer' : ' Ingen skadespecifikationer' }">damage-report damageSpecifications</span>

                    </div>
                    <div class="damage-report-display-card__detail-container">
                     <span class="damage-report-display-card__detail damage-report-display-card__detail--addons" th:text="${damageReport.totalDamagePrice != 0.0 ? damageReport.totalDamagePrice + ' Samlet skade Pris' : 'Ingen skade pris'}">Total damage price </span>
                    </div>
                </div>
            </div>

            <!-- Pricing and Actions -->
            <div class="damage-report-display-card__details-section damage-report-display-card__details-section--actions">
                <div class="damage-report-display-card__actions">
                    <div th:if="${showActions}">
                        <div th:replace="~{fragments/logoButtonFragment :: logo-button('edit', @{/damage-report/search}, '1.5rem', 'damage-report-display-card__actions-edit-button')}"></div>
                        -->
                    </div>
                </div>
                <div class="damage-report-display-card__details-column damage-report-display-card__detail--total-price">
                    <!-- <div th:replace="~{fragments/logoFragment :: logo('price',20)}"></div>
                    <span class="damage-report-display-card__detail"

                          th:text="${damageReport.totalPricePerMonth != null ? damageReport.totalPricePerMonth + 'kr./md.' : 'Ikke udregnet'}">Net Price</span>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>