<div th:fragment="item-display(fragment, selectable, redirectButtonFragment, isEmpty, emptyMessage)"
     th:classappend="${isEmpty} ? 'item-display--empty'"
     class="item-display">
    <div class="item-display__content">
        <div th:if="${selectable}" class="item-display__select">
            <label>
                <input type="radio" class="item-display__radio-button">
            </label>
        </div>
        <!-- Fragment to be replaced -->
        <div th:replace="${fragment}"></div>

        <!-- Add message if infoList is empty -->
        <p th:if="${isEmpty}" class="item-display__empty-message" th:text="${emptyMessage}">No data available</p>

        <!-- Add selection option if selectable is true -->

        <!-- Add redirect button if redirectUrl is provided -->
        <div th:replace="${redirectButtonFragment}"></div>
    </div>
</div>
