.final-settlement__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-settlement__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.purchase-agreement__form-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.final-settlement__submit-button {
    margin-top: 20px;
}


