.rental-agreement__title-container {
    display: flex;
    justify-content: space-between;
}

.rental-agreement__title {
    margin-bottom: 20px;
}

.rental-agreement__form {
    display: flex;
    flex-direction: column;
}

.rental-agreement__form-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.rental-agreement__form-group > label {
    padding: 0;
}

.rental-agreement__form-group__overlay {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: var(--border-radius);
    align-items: flex-start;
    justify-content: flex-end;
}

.rental-agreement__form-group__overlay .rental-agreement--form-group--overlay--remove {
    z-index: 1;
    padding: 0.5rem;
}

.rental-agreement--form-group--overlay--show {
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with 0.3 opacity */
}

.rental-agreement__submit-button {
    margin-top: 20px;
}

.rental-agreement-form-group-car-search-button {
    align-self: flex-end;
}

