.purchase-agreement__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-agreement__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.purchase-agreement__submit-button {
    margin-top: 20px;
}