.separator{
    font-family: Montserrat, sans-serif;
    font-size: 30px;
}
.btnChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 10px;
}
.form-group__submit-button {
    margin-top: 20px;
}
.redirectBtnSmallFragment{
    position: absolute;
    left: 200px;
}