body {
    background-color: #ffffff;
}
.header{
    background-color: rgba(14, 149, 203, 0.45);
    width: 100%;
    height: 170px;
}
.Logo{
    margin-left: 20px;
    margin-top: 10px;
    height: 70px;
    width: auto;
}
.btnChoice{
    top: 59px;
    left: 600px;
    position: absolute;
}
.Container-left{
    position: absolute;
    top: 190px;
    left: 12px;
    width: 695px;
    height: 572px;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.49);
}
.Container-right {
    position: absolute;
    top: 190px;
    left: 725px;
    width: 695px;
    height: 572px;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.49);
}
.inner_container{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 430px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}