.headerRedirectBtnFragment {
    background-color: rgba(3, 52, 70, 0.35);
    border: none;
    height: 25px;
    width: 200px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
.headerRedirectBtnText{
    font-family: "Montserrat" , sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    display: block;
}