body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #10253d, #7daac5, #28475d,#010a15 );
    height: 100vh;
    margin: 0;
}
.homeBox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(238, 237, 237, 0.5);
    width: 70%;
    height: 80%;
    position: relative;
    padding-left: 150px;
    overflow: hidden;
}
h2{
    font-size: 15px;
    font-family: "Palatino Linotype", sans-serif;
    color: black;
    font-weight: lighter;
    margin-left: 95px;
}
h1{
    font-family: "Montserrat" , sans-serif;
    color: black;
    font-size: 40px;
    margin-top: -60px;
    font-weight: bolder;
    margin-left: 10px;
}
.BIL {
    font-weight: bold;
}
.Logo{
    width: 75%;
    top: 60px;
    left: 510px;
    height: auto;
    position: absolute;
}
