.stock-functions {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5rem)); /* 2 columns with 1rem gap so width is 50% minus the gap */
    grid-template-rows: repeat(2, calc(50% - 0.5rem)); /* 2 rows with 1rem gap so height is 50% minus the gap */
    gap: 1rem;
}

.stock-functions-card {
    height: 100%;
    background-color: var(--color-darker-gray);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.stock-functions-minimum-car-stock {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures content stacks vertically */
    gap: 1rem; /* Adds spacing between elements */
    overflow: auto; /* Enables scrolling */
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.stock-functions-minimum-car-stock-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Prevents overflow */
    z-index: 1;
}

.stock-functions-minimum-car-stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 0;
}

.table-container {
    flex-grow: 1; /* Ensures the table expands while respecting overall layout */
    overflow: auto;
    width: 100%;
}

.stock-functions-minimum-car-stock .logo {
    display: flex;
    align-items: center;
}

.table-container thead th {
    position: sticky;
    top: 0;
    background-color: var(--color-darker-gray); /* Match your table background */
    z-index: 2; /* Ensure it stays above table rows */
}

.table-container .table-row--red {
    color: red;
}

.stock-functions-monthly-earnings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.chart-column {
    width: calc((1/5 * 100%) - 1rem);
    background-color: var(--color-secondary);
    text-align: center;
    position: relative;
    border-radius: 5px;
}

/*The month*/
.chart-column span:first-of-type {
    color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin-bottom: 5px;
}

/*Targeting the middle column, if there are more than 5 this needs to change aswell. Its used to show the current month*/
.chart-column:nth-of-type(3) {
    background-color: var(--color-primary);
}

/*The price*/
.chart-column span:last-of-type {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    text-wrap: nowrap;
}
