.redirectBtnSmallFragment {
    padding: 5px;
    border: none;
    background-color: lightgrey;
    color: black;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirectBtnSmallText {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.redirectBtnSmallFragment:hover {
    background-color: #b4b3b3;
}
