.stock-functions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.stock-functions-card {
    height: 100%; /* Set the height of the cards */
    background-color: #f5f5f5; /* Optional: Set a background to visualize cards */
    border: 1px solid #ccc; /* Optional: Add a border */
    display: flex; /* Optional: Center content inside */
    justify-content: center; /* Optional: Center content inside */
    align-items: center; /* Optional: Center content inside */
}

.stock-functions-monthly-earnings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.chart-column {
    width: calc((1/5 * 100%) - 1rem);
    background-color: var(--color-secondary);
    text-align: center;
    position: relative;
    border-radius: 5px;
}

/*The month*/
.chart-column span:first-of-type {
    color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin-bottom: 5px;
}

/*Targeting the middle column, if there are more than 5 this needs to change aswell. Its used to show the current month*/
.chart-column:nth-of-type(3) {
    background-color: var(--color-primary);
}

/*The price*/
.chart-column span:last-of-type {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    text-wrap: nowrap;
}
