<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/css/redirect_btn.css">
    <link rel="stylesheet"  href="/css/home.css">
</head>
<body>

<div class="homeBox">
    <h2><span class="BIL">BIL</span><span>ABONNEMENT</span></h2>
    <h1>ADMIN SYSTEM</h1>
    <div th:replace="~{fragments/redirect_btn_fragment :: redirectBtn(path='/rentalAgreementPage', redirectBtnText='LEJEAFTALE & SLUTOPGØRELSE')}"></div>
    <div th:replace="~{fragments/redirect_btn_fragment :: redirectBtn(path='/damageReportPage', redirectBtnText='SKADE & UDBEDRING')}"></div>
    <div th:replace="~{fragments/redirect_btn_fragment :: redirectBtn(path='/monitoringPage', redirectBtnText='KØBSKONTRAKT, LAGERBEHOLDNING & OVERVÅGNING')}"></div>
    <img class = "Logo" src = "/images/BilALogo.png" alt = "Logo">
</div>
</body>
</html>