<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Car</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/searchCar.css">
    <link rel="stylesheet" href="/css/fragments/logoButtonFragment.css">
    <link rel="stylesheet" href="/css/fragments/carFragment.css">
    <link rel="stylesheet" href="/css/fragments/popupMessageFragment.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<form th:action="@{/car/search}" method="get" class="car-search__form">
    <input type="text" name="carVehicleNumber" placeholder="Enter vehicle number"/>
    <label for="missingDamageReport">Biler der mangler skaderapport</label>
    <input type="checkbox" id="missingDamageReport" name="missingDamageReport" value="true" th:checked="${filter.missingDamageReport}" />

    <button type="submit">Search</button>
</form>
<form th:if="${cars != null && cars.size() > 0}" th:action="@{/car/return-car}" method="post" class="car-search-result__form">
    <button type="submit">Select</button>
    <div class="car-search-result__cars">
        <div th:each="car :${cars}">
            <div th:replace="~{fragments/carFragment :: car-display-card(${car}, 'rental-agreement-form-group-car', true, false)}"></div>
        </div>
    </div>
</form>

<!-- Pop up message if the no cars found-->
<div th:if="${cars != null && cars.size() == 0}">
    <div th:replace="fragments/messagePopup :: popup-message('failure', 'Ingen biler fundet', ${currentLocation}, 'Ok')"></div>
</div>
</body>
</html>